HF5/helpers/bpel_client/CinemaReservation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://www.iit.bme.hu/soi/hw/CinemaReservation"  
	xmlns:tns="http://www.iit.bme.hu/soi/hw/CinemaReservation"
	xmlns:ns0="http://www.iit.bme.hu/soi/hw/CinemaReservation"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" 
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702"
	xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat"
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"	
>
	<wsdl:types>
		<xs:schema>
			<xs:import schemaLocation="CinemaReservation.xsd" namespace="http://www.iit.bme.hu/soi/hw/CinemaReservation"/>
		</xs:schema>
	</wsdl:types>

		<wsdl:message name="ICinemaReservation_GetOffer_InputMessage">
			<wsdl:part name="parameters" element="ns0:GetOffer"/>
		</wsdl:message>

		<wsdl:message name="ICinemaReservation_GetOffer_OutputMessage">
			<wsdl:part name="parameters" element="ns0:GetOfferResponse"/>
		</wsdl:message>

		<wsdl:message name="ICinemaReservation_Reserve_InputMessage">
			<wsdl:part name="parameters" element="ns0:Reserve"/>
		</wsdl:message>

		<wsdl:message name="ICinemaReservation_Reserve_OutputMessage">
			<wsdl:part name="parameters" element="ns0:ReserveResponse"/>
		</wsdl:message>

		<wsdl:portType name="ICinemaReservation">
			<wsdl:operation name="GetOffer">
				<wsdl:input wsaw:action="http://www.iit.bme.hu/soi/hw/CinemaReservation/ICinemaReservation/GetOffer" message="ns0:ICinemaReservation_GetOffer_InputMessage"/>
				<wsdl:output wsaw:action="http://www.iit.bme.hu/soi/hw/CinemaReservation/ICinemaReservation/GetOfferResponse" message="ns0:ICinemaReservation_GetOffer_OutputMessage"/>
			</wsdl:operation>
			<wsdl:operation name="Reserve">
				<wsdl:input wsaw:action="http://www.iit.bme.hu/soi/hw/CinemaReservation/ICinemaReservation/Reserve" message="ns0:ICinemaReservation_Reserve_InputMessage"/>
				<wsdl:output wsaw:action="http://www.iit.bme.hu/soi/hw/CinemaReservation/ICinemaReservation/ReserveResponse" message="ns0:ICinemaReservation_Reserve_OutputMessage"/>
			</wsdl:operation>
		</wsdl:portType>

	<wsdl:binding name="ICinemaReservation_HttpSoap11_Binding" type="ns0:ICinemaReservation">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetOffer">
			<soap:operation style="document" soapAction="http://www.iit.bme.hu/soi/hw/CinemaReservation/ICinemaReservation/GetOffer"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Reserve">
			<soap:operation style="document" soapAction="http://www.iit.bme.hu/soi/hw/CinemaReservation/ICinemaReservation/Reserve"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CinemaReservationService">
		<wsdl:port name="ICinemaReservation_HttpSoap11_Port" binding="ns0:ICinemaReservation_HttpSoap11_Binding">
			<soap:address location="http://www.tempuri.org"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
